

.welcomeDiv{
    text-align: center;
    line-height: 1.5;
    font-size: 1.5em;

    background-color: var(--FederalBlue);
    box-shadow: 10px 10px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 60%;
    margin: 15vh 20% 15vh 20%;

}

.welcomeDiv h1, .welcomeDiv p{
    color: white;
}


.welcomeDiv button{
    background-color: var(--CarolinaBlue);
    font-weight: bolder;
    cursor: pointer;

    margin-top: 2em;
    width: 20%;
    height: 10%;
}

.welcomeDiv button:hover{
    background-color: Lightgrey;
    width: 22%;
    height: 11%;
}

.quiz{
    padding:5%;

    position: fixed;
    width: 80%;
    height: 90%;

    cursor: auto;
    
    background-color: #FF8C00FA;
}

.quiz ul{
    list-style: none;
    text-align: justify;
}

.quiz ul li:hover{
    background-color: #EE7B00;
}

.quiz ul li label, .quiz ul li input{
    cursor:pointer;
}
